.headerSearch {
  /* width: 100%; */
  background-color: blue;
  padding: 8px;
  margin-bottom: 24px;
}

.formSearch {
  max-width: 360px;
  border: 4px solid darkorange;
  border-radius: 4px;
  padding: 4;
  margin: 0 auto;
  text-align: start;
  background-color: aliceblue;
  position: relative;
}

.btnSearch {
  border: none;
  outline: none;
  justify-content: start;
  padding: 0;
  margin: 4px;
  background-color: aliceblue;
  position: absolute;
  left: 0;
  top: 2px;
}

.inputSearch {
  border: none;
  margin-left: 24px;
  outline: none;
  background-color: aliceblue;
  font-size: 18px;
}
