/* =========================load more========================== */

.loadMore {
  background-color: blue;
  border: 2px solid darkorange;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  padding: 8px 12px;
}
